@charset "UTF-8";
@import "./style/reset.scss";

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", "Meyrio", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.hidden {
  visibility: hidden;
}